.cont-buttons-options{
    position: absolute;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.optionsButton{
    z-index: 999;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.display{
    display: none;
}

.visible{
    display: flex;
    top: 0% !important;
    left: 10% !important; 
    pointer-events: none;  
}

.visible-right{
    top: 0% !important;
    right: 10% !important;
    left: unset !important;
    animation: none !important;
    /* left: 90% !important; */
    position: absolute;
}

/* CLASES ESLITOS PARA DORDES DE BOTON */
.rock{
    background: linear-gradient( to top, hsl(39, 89%, 49%) ,hsl(40, 84%, 53%));
    /* animation: buttonCenter 1.5s ease-out; */
}
.paper{
    background: linear-gradient( to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    /* animation: buttonCenterTwo 1.5s ease-out; */
}
.scissors{
    background: linear-gradient( to top, hsl(349, 71%, 52%) ,hsl(349, 70%, 56%));
    /* animation: buttonCenterTree 1.5s ease-out; */
}
.lizard{
    background: linear-gradient( to top, hsl(261, 73%, 60%) ,hsl(261, 72%, 63%));
}
.vulcano{
    background: linear-gradient( to top, hsl(189, 59%, 53%) ,hsl(189, 58%, 57%));
}

.msg-button-post-play{
    width: 40%;
    height: 55%;
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    animation: none !important;
}
.msg-button-post-play>button{
    width: 70%;
    text-align: center;
    font-size: 11px;
    line-height: 28px;
    color: red;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.msg-button-post-play>p{
    font-size: 36px;
    text-transform: uppercase;
}


/* @keyframes buttonCenter {
    from{
        bottom: 50%;
    }
} */

@keyframes buttonCenterTwo {
    from{
        left: 35%;
    }
}
@keyframes buttonCenterTree {
    from{
        right: 35%;
    }
}
@media(max-width:425px){
    .msg-button-post-play{
        height: 100%;
        justify-content: center;
    }
    .msg-button-post-play>button{
        margin-bottom: 3%;
    }
}


/**************************************/
@media(max-width:375px){
    .msg-button-post-play{
        height: 80%;
        width: 50%;
        margin-left: 0;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .msg-button-post-play>p{
        font-size: 30px;
        margin-bottom: 5%;
        text-transform: uppercase;
    }
    .visible{
        margin-left: 0px !important;
    }
}
