.footer-r-p-s{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-r-p-s>button{
    height: fit-content;
    font-family: 'Space Grotesk', sans-serif;
    padding: 0.5% 2%;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5%;
    cursor: pointer;
    text-transform: uppercase;
}